* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Open Sans', sans-serif;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #DAF0FF;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 32px 0 16px 0;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 74vh;
  width: 37vh;
  background: rgba(247, 248, 251, 0.8);
  border-radius: 40px;
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 50px rgba(96, 190, 255, 0.55);
  padding: 32px;
}

.display {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 24px;
  width: 100%;
  flex-grow: 1;
}

.display-1{ 
  color: #818181;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: right;
}

.display-2 {
  text-overflow: ellipsis;
  color: #424242;
  font-size: 3rem;
  text-align: right;
}

.buttons {
  display: flex;
  width: 100%;
  height: 60%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
}

button {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  color: #109DFF;
  border: none;
  font-size: 2rem;
  transition: transform 0.2s ease;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

button:active {
  transform: scale(0.95);
}


.tool-bar {
  color: #858585;
  font-weight: 500;
}

#\= {
  background-color: #109dff;
  color: white;
  font-weight: bold;
}

.operations {
  background-color: #ADE2FF;
}

.footer {
  padding: 16px 0;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media (max-height: 800px){
  html {
    font-size: 12px;
  }
}

